:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
}

.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*  max-width: 1100px; */
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.4;
}


/* UTILITY */

.container {
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.category {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.3rem 0.5rem;
    color: #fff;
    border-radius: 15px;
    font-size: 0.75rem;
}

.category-sports {
    background-color: var(--sports-color);
}

.category-ent {
    background-color: var(--ent-color);
}

.category-tech {
    background-color: var(--tech-color);
}

.btn {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    color: #ffeeee;
    margin: 0.24rem 0rem;
    background-color: #444;
}

.card {
    background-color: #fff;
    padding: 0.75rem;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-light {
    background: var(--light-color);
}

.btn-secondary {
    background: var(--secondary-color);
}

.py-1 {
    padding: 1.5rem 0
}

.py-2 {
    padding: 1rem 0
}

.py-3 {
    padding: .5rem 0
}

.p-1 {
    padding: .5rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .5rem
}

p {
    margin: 0.25rem;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark h1,
h2,
h3,
{
    color: #fff;
}

.bg-primary h1,
h2,
h3,
{
    color: #fff;
}

.bg-secondary h1,
h2,
h3,
{
    color: #fff;
}

.special_wh {
    color: white !important;
    /* background: red; */
}


/* NAVIGATION */

#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 2rem;
    align-items: center;
}

#main-nav .logo {
    width: 180px;
}

#main-nav ul {
    display: flex;
    justify-self: end;
}

#main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.current {
    background-color: var(--primary-color);
    color: #fff;
}

#main-nav ul li a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color: #777;
    margin-right: 0.5rem;
}

#main-nav .check {
    color: black;
}


/* SHOWCASE */

#showcase {
    color: #fff;
    background-color: #444;
    padding: 0 0.25rem;
    position: relative;
}

#showcase:before {
    content: '';
    background: url('../image_resources/featured.jpg')no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 75vh;
}

#showcase .showcase-content {
    z-index: 1;
}


/* HOME ARTICLES */

#home-article .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}


/* ALSO BE DONE AS --> #home-articles .articles-container article:first-child{

} */

#home-article .articles-container>*:first-child,
#home-article .articles-container>*:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column: 1 /span 2; */
    /* align-items: center; */
    grid-gap: 1rem;
    grid-column: 1 / span 2;
    align-items: center;
}

#home-article .articles-container>*:last-child {
    grid-column: 2 / span 2;
}

#home-article .articles-container>*:nth-child(2) {}


/* ARTICLE.html */

#article .list li a {
    color: #333;
}

#article .meta {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    padding: 0.5rem;
}


/* FOOTER */

#main-footer {
    background: var(--dark-color);
    color: #fff;
}

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    /* border: 1px red solid; */
}

#main-footer .footer-container>*:last-child {
    /* border: 1px red solid; */
    background: #444;
    grid-column: 1 / span 4;
    text-align: center;
    font-size: 0.95rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: .5rem;
    margin-bottom: 0.25rem;
    border: 10%;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
    border: 2px rgb(59, 57, 57) solid;
    border-radius: 1rem;
    /* border: 8px #fff solid transparent; */
}

.list li {
    border-bottom: 1px dotted #444;
    padding: .5rem 0rem;
    /* margin: 1rem; */
    width: 90%;
}

.list li a:hover {
    color: var(--primary-color) !important;
}


/* ABOUT */

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
}

.page-container .card:first-child {
    grid-row: 1 / span 3;
}